// custom colors
$honest_blue: #1b45ff;

// fonts
$main_font_clr: #3e4049;
$ligher_font_clr: #494b57;
$nav_links_hover: $honest_blue;
$learnMoreBtnClr: #5b5b5c;

// backgrounds
$nav_bkg_clr: #ebedf58e;
$nav_hambrg_bkg_clr: #ffffff9a;
$footer_bg: #d3d7e4;
$features_bubble_bkg_clr: #f1f2f5;
$testimonials_bg: linear-gradient(white, #d3d7e4, white);
$instant_quote_ad_background_clr: white;
$banner_ad_bkg_clr: #F7F8FC;
$services_bg_clr: linear-gradient(white, #d3d7e4, white);
$quote-bg-color: #ffffff;
$price-bg-color: #ffffff;
$contact_bg_clr: linear-gradient(white, #d3d7e4);

// buttons
$call_btn_bkg_clr: rgb(224, 226, 236);
$call_btn_hov_bkg_clr: hsl(229, 95%, 63%);
$primary_cta_btn: #40455f;
$primary_btn_hover:  hsl(229, 100%, 55%);
$secondary_cta_btn: #7F859F;
$learnMoreBtnBkg: #ebedf5;